.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.react-calendar-heatmap .color-empty {
  fill: #e3e6e8;
}

.react-calendar-heatmap .color-filled {
  fill: #454d54;
}

/* SCALE */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-github-1 {
  fill: #b9c0c6;
}

.react-calendar-heatmap .color-github-2 {
  fill: #abb3ba;
}

.react-calendar-heatmap .color-github-3 {
  fill: #9da7af;
}

.react-calendar-heatmap .color-github-4 {
  fill: #8f9aa3;
}

.react-calendar-heatmap .color-github-5 {
  fill: #818e98;
}

.react-calendar-heatmap .color-github-6 {
  fill: #73818c;
}

.react-calendar-heatmap .color-github-7 {
  fill: #67747e;
}

.react-calendar-heatmap .color-github-8 {
  fill: #5c6770;
}

.react-calendar-heatmap .color-github-9 {
  fill: #505a62;
}

.react-calendar-heatmap .color-github-10 {
  fill: #454d54;
}

.react-calendar-heatmap .color-github-11 {
  fill: #394146;
}

.react-calendar-heatmap .color-github-12 {
  fill: #2e3438;
}

.react-calendar-heatmap .color-github-13 {
  fill: #22272a;
}

.react-calendar-heatmap .color-github-14 {
  fill: #171a1c;
}

.react-calendar-heatmap .color-github-15 {
  fill: #0b0d0e;
}


