.logo {
    font-size: 24px;
    background-image: url('../assets/icons/pikachu.svg');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 40px;
    line-height: 32px;
}