.container-sidebar {
    background-color: #36393fe8;
    position: fixed;
    height: 100vh;
    top: 58px;
    transition: width 0.5s;
}

.nav-link-sidebar {
    text-transform: uppercase;
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.575);
    color: #fff;
    line-height: 32px;
}

.nav-link-sidebar:hover {
    background-color: #fff;
    color: #36393fe8;
}

.nav-link-sidebar p {
    position: relative;
    left: -24px;
}

.icon-1 {
    display: block;
    position: relative;
    z-index: 1;
}

.icon-2 {
    display: block;
    position: relative;
    left: -24px;
}

.nav-link-sidebar:hover .icon-2 {
    display: block;
    z-index: 2;
}

.menu-nav {
    position: absolute;
    width: 0;
    height: 52px;
    top: 65px;
    left: 10px;
    cursor: pointer;
}

@media (max-width: 992px){
    .container-sidebar {
        width: 50px;
    }

    .nav-link-sidebar p {
        position: absolute;
        left: -500px;
    }

    .icon-1 {
        left: 10px;
    }
    
    .icon-2 {
        left: -15px;
    }
}

@media (min-width: 992px) {
    .container-sidebar {
        width: 250px;
    }
}