.logo {
    font-size: 20px;
    background-image: url('../../assets/icons/pikachu.svg');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 34px;
    line-height: 32px;
}