.container-user {
    transition: margin 0.5s;
    margin-top: 100px;
    margin-right: 100px;
}

.container-data {
    display: flex;
}

@media (max-width: 992px){
    .container-user {
        transition: margin 0.5s;
        margin-left: 100px;
        margin-right: 50px;
    }
    .container-data {
        flex-direction: column;
    }
    .container-data-pokemon {
        width: 100%;
        margin-right: 50px;
        margin-bottom: 25px;
    }
    .container-data-chart {
        width: 100%;
        height: 300px;
        margin-bottom: 25px;
    }
    .container-data-calendar {
        width: 100%;
        margin-bottom: 25px;
    }    
}

@media (min-width: 992px) {
    .container-user {
        transition: margin 0.5s;
        margin-left: 350px;
    }
    .container-data-pokemon {
        width: 400px;
        margin-right: 50px;
    }
    .container-data-chart {
        width: 500px;
        height: 400px;
    }
    .container-data-calendar {
        width: 60%;
        margin-bottom: 10px;
    }    
}