.container-maintxt{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/wall2responsive.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.container-txt {
    margin-top: 60px;
    width: 80vw;
    height: 80%;
    background-color: #36393fe8;
    color: #fff;
}  

@media (min-width: 576px){ 
    .container-maintxt {
        background-image: url('../assets/wall2.jpg');
    }

    .container-txt {
        margin-top: 0;
        width: 60vw;
    }
}

@media (min-width: 992px) {    
    .container-txt {
        width: 50vw;
    }  
}

@media (min-width: 1200px) {    
    .container-txt {
        width: 40vw;
    }  
}