.container-main{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/backgrounds/mainResponsive.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.container-login {
    margin-top: 60px;
    width: 80vw;
    height: 80%;
    background-color: #36393fe8;
    color: #fff;
}  

@media (min-width: 576px){ 
    .container-main {
        background-image: url('../assets/backgrounds/main.png');
    }

    .container-login {
        margin-top: 0;
        width: 60vw;
    }
}

@media (min-width: 992px) {    
    .container-login {
        width: 50vw;
    }  
}

@media (min-width: 1200px) {    
    .container-login {
        width: 40vw;
    }  
}