@keyframes title {
  0% {
    color: #808080;
    transform: scale(1.1);
  }
  25% {
    color: #737373;
    transform: scale(1.15);
  }
  50% {
    color: #666666;
    transform: scale(1.2);
  }
  75% {
    color: #595959;
    transform: scale(1.25);
  }
  100% {
    color: #4d4d4d;
    transform: scale(1.3);
  }
}

.title-404 {
  animation-name: title;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}