.container-user {
    transition: margin 0.5s;
    margin-top: 150px;
}

@media (max-width: 992px){
    .container-user {
        transition: margin 0.5s;
        margin-left: 100px;
    }
}

@media (min-width: 992px) {
    .container-user {
        transition: margin 0.5s;
        margin-left: 350px;
    }
}